<div class="example-wrapper">
    <h1>Banque</h1>
    <br />
    <table class='t1'>
        <thead>
            <tr>
                <th colspan="6">Liste des données</th>
            </tr>
            <tr>
                <th colspan="1">CCP</th>
                <th colspan="1">Livret A</th>
                <th colspan="1">Epargne</th>
                <th colspan="1">Tickets Restaurant</th>
                <th colspan="2">actions <a href="#"class="btn btn-primary btn-sm" style="display: inline-block">Create</a></th>
            </tr>
        </thead>
        <tbody>
            <!-- {% for banque in banques %} -->
                <tr *ngFor="let banque of banques">
                    <td>{{ banque.compteCourant| number : '.0-2' }}€</td>
                    <td>{{ banque.livretA| number : '.0-2' }}€</td>
                    <td>{{ banque.epargne| number : '.0-2' }}€</td>
                    <td>{{ banque.ticketRestaurant| number : '.0-2' }}€</td>
                    <td><a href="#" class="btn btn-secondary btn-sm" style="display: inline-block">edit</a></td>
                    <td>
                        <form method="post" action="#" style="display: inline-block">
                            <input type="hidden" name="_method" value="delete">
                            <button class="btn btn-danger btn-sm">Delete</button> 
                        </form>
                    </td>
                </tr>
            <!-- {% endfor %} -->
            <tr>
                    <td>Total</td>
                    <td>{{total| number : '.0-2'}}€</td>
                    <td>Rent Livret A taux de {{taux}}%</td>
                    <td>{{rentLivretA| number : '.0-2'}}€</td>
                    <td></td>
                </tr>
        </tbody>
    </table>

    <!-- {{ render_chart(chart) }}

    {# You can pass HTML attributes as a second argument to add them on the <canvas> tag #}
    {# {{ render_chart(chart, {'class': 'my-chart'}) }}#}-->



</div>
