.body1 {
    background-color: lightgray;
}

.t1 {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    background-color: aliceblue;
}
.t1 th, td{
    border: 1px solid black;
    padding: 10px;
  }
.t1 td{
    text-align: right;
}

.example-wrapper { 
    margin: 1em auto;
     max-width: 1000px;
      width: 95%;
       font: 18px/1.5 sans-serif; 
    }
.example-wrapper code { 
    background: #F5F5F5; 
    padding: 2px 6px; 
}

.test {
    background: #F5F5F5; 
}

.ng-valid[required], .ng-valid.required {

    border-left: 5px solid green;
    
}
    
.ng-invalid:not(form) {
    
    border-left: 5px solid red;
    
}