<div class="example-wrapper">
    <h1>Type Opération</h1>
    <br />
    <table class='t1'>
        <thead>
            <tr>
                <th colspan="5">Liste des Types d'opération</th>
            </tr>
            <tr>
                <th colspan="1">Libelle</th>
                <th colspan="1">Récurrence</th>
                <th colspan="1">Entrée/Sortie</th>
                <th colspan="2">Action <a routerLink="/typeDetail/0" class="btn btn-primary btn-sm"
                        style="display: inline-block">Create</a></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let typeOperation of typeOperations">
                <td>{{ typeOperation.libelle.trim()}}</td>
                <td>{{ typeOperation.recurrence}}</td>
                <div *ngIf="typeOperation.sortie == true; then thenBlock else elseBlock"></div>
                <ng-template #thenBlock>
                    <td>Sortie 🟥</td>
                </ng-template>
                <ng-template #elseBlock>
                    <td>Entrée 🟩</td>
                </ng-template>
                <td><a routerLink="/typeDetail/{{typeOperation.id}}" class="btn btn-secondary btn-sm"
                        style="display: inline-block">edit</a></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" title="delete typeOperation"
                        (click)="delete(typeOperation)" style="display: inline-block">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>